p Я умею
    ul.technologies
        li
            img(src="assets/images/sass.svg", alt="")
        li
            img(src="assets/images/pug.svg", alt="")
        li
            img(src="assets/images/gulp.svg", alt="")
        li
            img(src="assets/images/webpack.svg", alt="")